.speedDial {
  position: fixed;
  right: 5vmax;
  top: 3vmax;
  width: 10px;
  background: none;
}

.speedDialIcon {
  width: 56px;
  height: 56px;
  border-radius: 100%;
}

/* @media screen and (max-width: 600px) {
  .speedDialIcon {
    width: 20px;
    height: 20px;
    border-radius: 100%;
  }
} */
